@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-theme: rgb(51, 62, 216);
}

.btn-primary {
  @apply px-3 py-3 border border-[var(--primary-theme)] rounded-full font-bold;
}
.btn-secondary {
  @apply px-3 py-3 border border-[var(--primary-theme)] rounded-3xl font-semibold;
}
.card-bs {
  background-color: #ffffff;
  border: none;
  box-shadow: 8px 0 15px rgba(0, 0, 0, 0.1), -8px 0 15px rgba(0, 0, 0, 0.1),
    0 15px 8px rgba(0, 0, 0, 0.1), 0 -1px 4px rgba(0, 0, 0, 0.1);
  transition: all ease 0.2s;
  cursor: pointer;
}
.scroll-snap-inline-mandatory {
  scroll-snap-type: inline mandatory;
}
