@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-theme: rgb(51, 62, 216);
}

.roboto {
  font-family: "Roboto", sans-serif;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
}
.libre-baskerville {
  font-family: "Libre Baskerville", serif;
}
.lora {
  font-family: "Lora", serif;
}
.trirong {
  font-family: "Trirong", serif;
}

.btn-primary {
  @apply px-3 py-3 border border-[var(--primary-theme)] rounded-full font-bold text-lg;
}
.btn-secondary {
  @apply px-3 py-3 border border-[var(--primary-theme)] rounded-3xl font-semibold;
}
.btn-squircle {
  @apply px-3 py-3 border border-[var(--primary-theme)] rounded-xl font-semibold;
}
.card-bs {
  border: none;
  box-shadow: 8px 0 15px rgba(0, 0, 0, 0.1), -8px 0 15px rgba(0, 0, 0, 0.1),
    0 15px 8px rgba(0, 0, 0, 0.1), 0 -1px 4px rgba(0, 0, 0, 0.1);
  transition: all ease 0.2s;
  cursor: pointer;
}
.card-bs:hover {
  animation-play-state: paused;
  box-shadow: 16px 0 30px rgba(0, 0, 0, 0.1), -16px 0 30px rgba(0, 0, 0, 0.1),
    0 20px 10px rgba(0, 0, 0, 0.1), 0 0px 0px rgba(0, 0, 0, 0.1);
  translate: 0 -5px;
}
.card-bs-green {
  background-color: green;
  border: none;
  box-shadow: 8px 0 15px rgba(0, 0, 0, 0.1), -8px 0 15px rgba(0, 0, 0, 0.1),
    0 15px 8px rgba(0, 0, 0, 0.1), 0 -1px 4px rgba(0, 0, 0, 0.1);
  transition: all ease 0.2s;
  cursor: pointer;
}
.scroll-snap-inline-mandatory {
  scroll-snap-type: inline mandatory;
}
.selected-label {
  background-color: #f0f0f0; /* Change this color as desired */
  border-left: 3px solid #3490dc; /* Change this color as desired */
  transition: background-color 250ms ease;
}
.hide-answer {
  display: none;
}

.benefits-blue {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: blue;
}
.benefits-green {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: green;
}
.benefits-red {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: red;
}
.benefits-yellow {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 238, 0);
}
.animated-underline::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #007bff;
  transition: width 0.3s ease-in-out;
}
li:hover .animated-underline::before {
  width: 100%;
}

.half-vh {
  height: 50vh;
}
