@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-theme: rgb(51, 62, 216);
}

.btn-primary {
  @apply px-3 py-3 border border-[var(--primary-theme)] rounded-full font-bold;
}
.btn-secondary {
  @apply px-3 py-3 border border-[var(--primary-theme)] rounded-3xl font-semibold;
}
.card-bs {
  background-color: #ffffff;
  border: none;
  box-shadow: 8px 0 15px rgba(0, 0, 0, 0.1), -8px 0 15px rgba(0, 0, 0, 0.1),
    0 15px 8px rgba(0, 0, 0, 0.1), 0 -1px 4px rgba(0, 0, 0, 0.1);
  transition: all ease 0.2s;
  cursor: pointer;
}
.scroll-snap-inline-mandatory {
  scroll-snap-type: inline mandatory;
}
.selected-label {
  background-color: #f0f0f0; /* Change this color as desired */
  border-left: 3px solid #3490dc; /* Change this color as desired */
  transition: background-color 250ms ease;
}
.hide-answer {
  /* display: none; */
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: height 0.7s ease-out, opacity 0.3s ease-out,
    visibility 0.3s ease-out;
}
.faq-answer {
  overflow: hidden;
}
